.u-center-text {
  text-align: center;
}

.u-margin-bottom-xlarge {
  margin-bottom: 16rem;
}
.u-margin-bottom-large {
  margin-bottom: 8rem;
}
.u-margin-bottom-small {
  margin-bottom: 4rem;
}
.u-margin-bottom-xsmall {
  margin-bottom: 1.5rem;
}

.u-margin-top-large {
  margin-top: 8rem;
}

.u-margin-top-xlarge {
  margin-top: 10rem;
}

.u-container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 5vh;
}

.u-paragraph-block {
  max-width: 40rem;
  margin: 0 auto;
}

.hidden {
  display: none;
}